<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mon site flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.3.2/dist/css/bootstrap.css')}}">
  </head>
  <body class=" bg-light ">
    <!------------------------------image du haut -------------------------->
    <!-- <section class=" d-flex justify-content-center">
        <img class="img img " src="{{url_for('static', filename='logo.png')}}" alt="">
    </section> -->
    <!-----------------------tableau du budget,depense et salaire ----------------------------------->
   <section>
    <div class="container m-5 ">
        <div class="row text-center text-white ">

           <label class="col mx-5 px-0 border bg-success " for="">Budget</label>
           <label class="col mx-5 px-0 border bg-success " for="">Depense</label>
           <label class="col mx-5 px-0 border bg-success " for="">Solde</label>
    
        </div>
        <div class="row text-center ">
         
          <label class="col mx-5 px-0 border  " for="">{{revenu}}F CFA</label>
          <label class="col mx-5 px-0 border  " for="">{{depense}}F CFA </label>
          <label class="col mx-5 px-0 border  " for="">{{solde}}F CFA</label>
        </div>
       
    </div>
   </section>
   <!------------------- ---------------------------------------titre,montant et action ---------------------------------------------->
   <section>
    <div class="m-5 text-center">
        <p class="text-warning ">liste des depenses</p>
        <div class="row text-center text-white ">

            <label class="col-4  border bg-success " for="title">Titre</label>
            <label class="col-4  border bg-success " for="amount">Montant</label>
            <label class="col-3  border bg-success " >Action</label>
     
         </div>
         <div class="row text-center  ">
                {% for depense in depenseDetails%}
             <label class="col-4  border ">{{depense[0]}}</label>
             <label class="col-4  border  me-5">{{depense[1]}}F CFA </label>
             <a class="col-1 btn border btn-light me-5 shadow" href="/update/{{depense[2]}}">modifier</a>
             <a class="col-1 btn border btn-danger shadow" href="/delete/{{depense[2]}}">supprimer</a>

                {% endfor%}
            </div>
            <div class="row text-center ">
             <a  class="col-2 btn border btn-light text-success "  href="/depense" >ajouter une depense</a>
            </div>
        
         
        </div>
       </div>
   <!------------------- ---------------------------------------titre,montant et action ---------------------------------------------->
   <section>
    <div class="m-5 text-center">
        <p class="text-warning ">liste des depenses</p>
        <div class="row text-center text-white ">

            <label class="col-4  border bg-success " for="title">Titre</label>
            <label class="col-4  border bg-success " for="amount">Montant</label>
            <label class="col-3  border bg-success " >Action</label>
     
         </div>
         <div class="row text-center  ">
            
                {% for revenu in revenuDetails%}
             <label class="col-4  border ">{{revenu[0]}}</label>
             <label class="col-4  border  me-5">{{revenu[1]}}F CFA </label>
             <a class="col-1 btn border btn-danger shadow ms-5" href="/delete/{{revenu[2]}}">supprimer</a>

                {% endfor%}
            </div>
            <div class="row text-center ">
             <a  class="col-2 btn border btn-light text-success  "  href="/revenu" >ajouter un revenu</a>
            </div>

         
        </div>
       </div>
   </section>
       
    <script src="{{url_for('static', filename='bootstrap-5.3.2/dist/js/bootstrap.js')}}"></script>
  </body>
</html>